In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [ ]:
data.describe()

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

# Предобработка

In [18]:
# создадим словарь для ответов
answers = {}
# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
import itertools
dat = data.copy()
def splitting(series_object):
    return series_object.split('|')
dat['casts'] = dat['cast'].str.split('|')
from itertools import combinations
#the time given in the dataset is in string format.
#So we need to change this in datetime format
data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [23]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [100]:
# тут пишем ваш код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
# # Берем наибольшее значение колонки "budget", как маску - data.budget.max(), и сразу находим какому фильму из "original_title" он соответствует
# Можно написать так: data[data.budget == data.budget.max()], но больше нравится подробный ответ.
data[data.budget == data.budget.max()].max()

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
dtype: object

ВАРИАНТ 2

In [74]:
# можно добавлять разные варианты решения
data.loc[data.budget.idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [25]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# "+"

In [62]:
# Находим наибольшее значение по столбцу продолжительности в минутах "runtime", как маску, и сразу находим этому соответствие в колонке "original_title" 
data[data.runtime == data.runtime.max()].max()

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [26]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# "+"

In [63]:
# Используем наименьшее значение по столбцу продолжительности фильма - "runtime", как маску и находим ему соответствие в названии - "original_title"
data[data.runtime == data.runtime.min()].min()

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
dtype: object

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = '110'
# "+"

In [64]:
# Проверяем среднее значение по столбцу "runtime"
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [65]:
answers['5'] = '107'
# "+"

In [66]:
# Применяем метод ".median()"
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [67]:
answers['6'] = 'Avatar (tt0499549)'
# "+"

In [68]:
# скопируем датафрейм, создадим в нем колонку "profit", как разность колонок "revenue" и "budget" и чему из "original_title" 
# соответствует наибольшее значение ранее полученной колонки "profit"
datacop = data.copy()
datacop['profit'] = datacop['revenue'] - datacop['budget']
datacop[datacop.profit == datacop.profit.max()].max()

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
dtype: object

# 7. Какой фильм самый убыточный?

In [31]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# "+"

In [69]:
# скопируем датафрейм, создадим в нем колонку "profit", как разность колонок "revenue" и "budget" и чему из "original_title" 
# соответствует наименьшее значение ранее полученной колонки "profit"
datamin = data.copy()
datamin['profit'] = datamin['revenue'] - datamin['budget']
datamin[datamin.profit == datamin.profit.min()].min()

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1478'
# "+"

In [70]:
# Подсчитаем количество строк в датафрейме, остающееся после выпоолнения условия - "revenue" больше чем "budget" это и будет являться ответом
data[data['revenue'] > data['budget']].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
answers['9'] = 'The Dark Knight (tt0468569)'
# "+"

In [71]:
# Создадим датафрейм в который перейдут только фильмы, прокатанные в 2008 году,
# затем вычислим наибольшую выручку - "revenue" и найдем соответствующую ей кинокартину из "original_title"
dataf = data[data['release_year'] == 2008]
dataf[dataf['revenue'] == dataf['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [34]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# "+"

In [102]:
# Создадим новый ДФ в который войдут фильмы, прокатанные за обозначенный период 
datafa = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
# В нем создадим новую колонку прибыльности - "profit" и найдем соответствие ее минимального значения фильму из "original_title"
datafa['profit'] = datafa['revenue'] - datafa['budget']
datafa[datafa.profit == datafa.profit.min()].min()

<ipython-input-102-e1bacffe347d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datafa['profit'] = datafa['revenue'] - datafa['budget']

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
dtype: object

# 11. Какого жанра фильмов больше всего?

In [35]:
answers['11'] = 'Drama'
# "+"

In [109]:
# Скопируем исходный ДФ
datagen = data.copy()
# Рассщепим жанры "genres" там где одному фильму их несколько 
datagen['genres'] = datagen.genres.str.split('|')
# и составим ДФ в котором каждому жанру поставим в соответствие фильм 
datagen = datagen.explode('genres')
# С помощью метода ".value_counts" посчитаем какому жанру какое кол-во фильмов соответствует
# Аргумент "ascending = False" позволит расставить жанры в порядке убывания по кол-ву, возьмем методом ".head()" только верхнюю строку "(1)".
datagen.genres.value_counts(ascending = False).head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [36]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
answers['12'] = 'Drama'
# "+"

In [75]:
# Скопируем ДФ
datag = data.copy()
# Добавим колонку "profit"
datag['profit'] = datag['revenue'] - datag['budget']
# Создадим новый ДФ в котором объединим только прибыльные фильмы
data_genres = datag[datag.profit > 0]
# С помощью "Counter" ранее импортированного из "collections" и метода most_common([n]) - возвратим
# в порядке убывания встречаемости все элементы из предварительно "рассплитованной" колоки "genres"
Counter(data_genres.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
answers['13'] = 'Peter Jackson'
# "+"

In [111]:
# С помощью функции "groupby" сгруппируеем режиссеров - "director" по выручке "revenue" и с помощью аггрегирующего метода ".agg"
# и метода ".sort_values" с аргументом "ascending=False" поставим каждому режиссеру сумму сборов в порядке убывания.
datad = data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending=False)
datad.head(1)

                      sum
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [113]:
# Скопируем новый ДФ куда с помощью функции ".str.contains" - (поиск подстроки в строке по условию) поместим все фильмы нужного жанра
datac = data[data['genres'].str.contains('Action')].copy()
director Рассщепим колонку режиссеров "director"
datac['director'] = datac['director'].str.split('|')
# и поставим каждому в соответствие фильм из этого ДФ
datac = datac.explode('director')
# Посчитаем какой режиссер встречается чаще других с помощью функции "value_counts()". Она возвратит нам серию режиссеров по убыванию
datac1 = datac['director'].value_counts()
datac1.head(1)
# Чтобы убедиться можно взять несколько строк, например ".head(3)"

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
answers['15'] = 'Chris Hemsworth'
# "+"

In [80]:
# Создаем новый ДФ с фильмами проката нужного года
dataf1 = data[data['release_year'] == 2012]
# Рассщепляем актеров 
dataf1['cast'] = dataf1['cast'].str.split('|')
# Ставим каждому актеру в соответствие фильм в котором он снимался
dataf1 = dataf1.explode('cast')
# Сгруппируем актеров "cast" и фильмы с их участием "original_title" по выручке "revenue" просуммируем и 
# расставим в порядке убыванияю Вместе с этим используя "Counter" ранее импортированный из "collections"
# и метода most_common([n]) - возвратим
# в порядке убывания встречаемости всех актеров из предварительно "рассплитованной" колоки "cast"
dataf2 = dataf1.groupby(by =['cast', 'original_title'])['revenue'].agg(['sum']).sort_values('sum', ascending=False)
print(dataf2.head(5) , Counter(dataf1.cast.str.split('|').sum()).most_common(5))
# Имея две группы данных и возможность посмотреть болешее к-во строк изменяя (при желании) аргумент в "head()"" и в "most_common()"
# не сложно найти правильный ответ

                                          sum
cast               original_title
Mark Ruffalo       The Avengers    1519557910
Chris Evans        The Avengers    1519557910
Scarlett Johansson The Avengers    1519557910
Chris Hemsworth    The Avengers    1519557910
Robert Downey Jr.  The Avengers    1519557910 [('Bruce Willis', 5), ('Chris Hemsworth', 4), ('Channing Tatum', 4), ('Anna Kendrick', 4), ('Elizabeth Banks', 4)]

<ipython-input-80-ce5e61d4dc19>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataf1['cast'] = dataf1['cast'].str.split('|')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon'
# "+"

In [81]:
# Создадим новый ДФ куда войдут высокобюджетные ( с бюджетом выше среднего ".mean()") фильмы. 
databt = data[data.budget > data.budget.mean()]
# Теперь используя "Counter" ранее импортированный из "collections"
# и метода most_common([n]) - возвратим в порядке убывания встречаемости 
# всех актеров из предварительно "рассплитованной" колоки "cast". 
Counter(databt.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'
# "+"

In [82]:
# Создаем ДФ куда войдут только фильмы с указанным актером которого нашли и выделили по полному имени как подстроку в строке "cast" 
cage = data[data['cast'].str.contains('Nicolas Cage')]
# Используя "Counter" ранее импортированный из "collections"
# и метода most_common([n]) - возвратим в порядке убывания встречаемости 
#  фильмы всех жанров из предварительно "рассплитованной" колоки "genres". 
Counter(cage.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# "+"

In [83]:
# Создаем ДФ куда войдут только фильмы объявленной студии которую нашли и выделили по полному названию
# как подстроку в строке "production_companies" 
paramount = data[data['production_companies'].str.contains('Paramount Pictures')]
# Вычисляем колонку прибыльности "profit"
paramount['profit'] = paramount['revenue'] - paramount['budget']
# используя маску "paramount.profit.min()" находим самый убыточный фильм студии
paramount[paramount.profit == paramount.profit.min()].min()

<ipython-input-83-9c72df12a688>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paramount['profit'] = paramount['revenue'] - paramount['budget']

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '2015'
# "+"

In [84]:
# Создаем ДФ с помощью группирования года "release_year" по выручке "release_year" и отсортировываем по году и сумме
#  выручки в порядке убывания с помощью аггрегирующей "agg" и сортирующей "sort_values" функций и аргумента "ascending=False"
datadat = data.groupby('release_year')['release_year'].agg(['sum']).sort_values('sum', ascending=False)
# берем только верхушку головы - "head(1)"
datadat.head(1)

                      sum
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014'
# "+"

In [114]:
# Создаем новый ДФ, куда методом поиска подстроки (полное название требуемой студии) в "production_companies"
# с помощью меетода ".str.contains" куда войдут только фильмы нужной студиию
datawar = data[data['production_companies'].str.contains("Warner Bros", na=False)]
# Создаем новую колонку прибыльности "profit"
datawar['profit'] = datawar['revenue'] - datawar['budget']
# Сгруппируем годы проката фильмов "release_year" по суммам прибыли "profit"
# в порядке убывания с помощью аггрегирующей "agg" и сортирующей "sort_values" функций и аргумента "ascending=False"
datawarn = datawar.groupby(by = ['release_year'])['profit'].agg(['sum']).sort_values('sum', ascending=False)
# Возьмем только веерхнюю строчку ".head(1)"
datawarn.head(1)

<ipython-input-114-5c9a20b144ad>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datawar['profit'] = datawar['revenue'] - datawar['budget']

                     sum
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 'сентябрь'
# "+"

In [86]:
# Приведем дату выхода фильма "release_date" в читаемый Python вид с помощью "parse_dates"
data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'])
# Теперь в колонке "release_date" рассчитаем выходы фильмов по названиям месяцев методом ".dt.month_name()",
# которые сразу запишем в русском варианте (locale='Russian'). 
# Сразу будем искать самый часто встречающийся  с помощью метода ".mode()[0]"
data['release_date'].dt.month_name(locale='Russian').mode()[0]

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
answers['22'] = '450'
# "+"

In [119]:
# # Приведем дату выхода фильма "release_date" в читаемый Python вид с помощью "parse_dates"
data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date']) 
# Теперь в колонке "release_date" рассчитаем выходы фильмов по названиям месяцев методом ".dt.month_name()",
# которые сразу запишем в русском варианте (locale='Russian'). 
# С помощью функции ".value_counts()" вычислим сколько фильмов выходило в каждый месяц.
# Достаточно взять 9 строк ".head(9)". Просуммировать придется вручную...
data['release_date'].dt.month_name(locale='Russian').value_counts().head(9)

Сентябрь    227
Декабрь     190
Октябрь     186
Август      161
Март        156
Апрель      149
Июнь        147
Ноябрь      146
Июль        142
Name: release_date, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [48]:
answers['23'] = 'Peter Jackson'
# "+"

In [121]:
# Скопируем ДФ
data_c = data.copy()
# Создадим в нем новый столбец "month_name"с месяцами выходов фильмов
data_c['month_name'] = data_c.release_date.dt.month_name()
#  с помощью "".isin()" оставим в новый ДФ "winter" только зимние месяцы
winter = data_c[data_c.month_name.isin(['December', 'January', 'February'])]
# теперь ращепим режиссеров по колонке "director"
winter.director = winter.director.str.split('|')
# и соберем их в наш "winter" в соответствии с месяцем производства фильма
winter = winter.explode('director')
# Отсортируем режиссеров "director" по нисходящему количеству фильмов выпущенных в этот период.
winter.director.value_counts().sort_values(ascending=False).head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Daniel Radcliffe & Rupert Grint'
# "+"

In [122]:
# Копируем ДФ
symbol = data.copy()
# Проитерируем и пересчитаем с помощью функции ".apply"  и функции "lambda" количество символов в столбце "original_title" и
# запишем их в новую колонку "symbol_count"
symbol['symbol_count'] = symbol.original_title.apply(lambda x: len(x))
# Рассщепим студии - "production_companies" с помощью ".str.split('|')"
symbol['production_companies'] = symbol['production_companies'].str.split('|')
# и перепишем их в наш ДФ индивидуально в соответствии с фильмами, датами и прочим   
symbol = symbol.explode('production_companies')
# Осталось сгруппировать студии "production_companies" по количеству символов "symbol_count" и отсортировать их по
# среднему количеству "mean" на студию в порядке убыванияю
symbols = symbol.groupby(by = ['production_companies'])['symbol_count'].agg(['mean']).sort_values('mean', ascending=False)
# Смотрим верхнюю строчку:
symbols.head(1)

                         mean
production_companies
Four By Two Productions  83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [91]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [92]:
# Копируем ДФ
word = data.copy()
# Проитерируем и пересчитаем с помощью функции ".apply"  и функции "lambda" количество пробелов между словами
# в названиях фильмов в столбце Описание - "overview" и запишем их в новую колонку "word_count"
word['word_count'] = word.overview.apply(lambda x: len(str(x).split(' ')))
# Рассщепим студии - "production_companies" с помощью ".str.split('|')"
word['production_companies'] = word['production_companies'].str.split('|')
# и перепишем их в наш ДФ индивидуально в соответствии с фильмами, датами и прочим
word = word.explode('production_companies')
# Методом "groupby" сгруппируем студии "production_companies" по количеству символов "word_count" и отсортировать их по
# среднему количеству "mean" на студию в порядке убыванияю
words = word.groupby(by = ['production_companies'])['word_count'].agg(['mean']).sort_values('mean', ascending=False)
# Возьмем верхнюю строку. Это количество пробелов, слов больше на 1 шт. ..
words.head(1)

                        mean
production_companies
Midnight Picture Show  175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [52]:
# "+"
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [130]:
# Копируем ДФ
percent = data.copy()
# Создаем колонку с перцентилями по колонке количества голосов -"vote_average" на каждый фильм, рассчитывая их таким образом:
percent['perc'] = percent['vote_average'] / percent['vote_average'].sum()
# группируем названия фильмов "original_title" по перцентилям "perc" и соответственно сортируем по убыванию
percents = percent.groupby(by = ['original_title'])['perc'].agg(['max']).sort_values('max', ascending=False)
# В первых 15 строках оказываются все нужные нам фильмы. Других не представлены полностью. 
percents.head(15)

                                                    max
original_title
The Dark Knight                                0.000698
The Imitation Game                             0.000690
Interstellar                                   0.000690
Room                                           0.000690
Inside Out                                     0.000690
Memento                                        0.000681
The Pianist                                    0.000681
Inception                                      0.000681
The Grand Budapest Hotel                       0.000681
The Lord of the Rings: The Return of the King  0.000681
Guardians of the Galaxy                        0.000681
Gone Girl                                      0.000681
The Wolf of Wall Street                        0.000681
12 Years a Slave                               0.000681
Mr. Nobody                                     0.000672

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
# "+"
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [132]:
# импортируем модуль "itertools"
import itertools
# Копируем ДФ
dat = data.copy()
# Рассщепляем актеров из "cast" 
dat['cast'] = dat['cast'].str.split('|')
# из "itertools" импортируем "combinations"
from itertools import combinations
# С помощью функции "apply" и функции "lambda" и "list(combinations(x, 2)" к каждому фильму составим список 
# комбинаций пар из всех записанных там актеров
dat['cast']=dat.cast.apply(lambda x: list(combinations(x, 2)))
# Применим ко всей колонке "cast" метод ".tolist()" получим список списков
# пар актеров по всем фильмам
datacom = dat['cast'].tolist()
# Функция chain() модуля itertools создает итератор, который проитерировав список списков вернет списокю
datacomb = list(itertools.chain.from_iterable(datacom))
# Применим "Counter" ранее импортированный из "collections"
# и метода most_common() - возвратим в порядке убывания встречаемости пары актеров из списка. 
Counter(datacomb).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

# Submission

In [135]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '24': 'Daniel Radcliffe & Rupert Grint'}

In [133]:
# и убедиться что ни чего не пропустил)
len(answers)

27